*{
    text-decoration: none;
}
body {
    font-family: verdana, tahoma, arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.wrapper{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.callout{
   width: 100%;
   height: auto;
   background:#ffc107;
   overflow: hidden;
}
.callout p{
   text-align: right;
   font-size: 13px;
   padding: 0.1% 5% 0 0;
   color: #f1f0d1;
}
.callout p a{
   color: #f1f0d1;
   text-decoration: none;
}
header{
   width:100%;
   min-height: 120px;
   text-align: center;
   margin-bottom: 0;
}

.logo{
    width: 100px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
}
header p{
   font-size: 32px;
   padding: 0;
   margin-top: 0;
   font-style: sans sans-serif;
}

header nav{
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
header nav ul{
   list-style: none;
   margin: 0 auto;
   padding-left: 0px;
}
header nav ul li a{
   background: #2080ee;
   display: block;
   border: 1px solid#fff;
   padding-top: 20px;
   margin-left: 0 auto;
   width: 100%;
   text-align: center;
   font-family: sans-serif;
   height: 50px;
}

header nav ul li a:hover, nav ul li.active a{
    background-color: #1b1eeb;
    color: #f2f2f2;
}

/**** Section****/
.content{
    width: 100%;
    background: url(img/Penguins.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
    display: table;
}

.content h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 8px #111;
}

.location{
    display: table-cell;
    vertical-align: middle;
}

.box{
    width:100%;
    background-color: #ffc107;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
}

.logop{
    font-size: 32px;
    padding: 0;
    margin-top: 0;
    font-style: sans sans-serif;
 }

.box ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.box ul li{
    display: inline;
}
.box ul li img{
    height: 50px;
}

footer{
    margin-top: -30px;
    padding: 5px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #c6e6e6;
    overflow: hidden;
}
ul#services li .edit{
    background: #fff;
    border: 0;margin: 5px;
}
ul#services li .edit ul li{
    padding: 0px;
    float: left;
    margin: 10px
}
ul#services li .edit ul li .button_2{
    background: #adff2f;
}
ul#services li .edit ul li .button_3{
    background: #ff0000;
}
article#main-col{
    margin-left: -50px;
}
aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
    margin-left: 10px;
}
aside#sidebar .send input, aside#sidebar .send textarea, aside#sidebar .send select{
    width: 100%;
    margin-bottom: 5px;
}
.right{
    background: #808080;
    text-align: center;
    width: 100%;
}       
.blue{
    padding: 15px;
    background: #808080;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

/*--------MEDIA!!!-------*/
@media screen and (min-width: 650px){
header{
    text-align: center;
}

header nav ul{
    padding-left: 20px;
}
header nav ul li{
	float: left;
	border: 1px solid#fff;
    width: 24%;
    text-align: center;
} 

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
    margin-left: 0px;
}
aside#sidebar .send input, aside#sidebar .send textarea, aside#sidebar .send select{
    width: 90%;
    padding: 5px
}
article#main-col{
    float: left;
    width: 65%;
    margin-left: 0px;
}
#sm{
    margin-top: 20px;
    background-color: #ffc107
}
#sm .box{
    float: left;
    text-align: center;
    width: 33%;
    padding: 0px;    
    margin-top: 0;
    padding-top: 0;
}
footer{
    margin-top: 0px
}
}


